



@{
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="card-header text-center">
        <h3>Our Stone Clinic</h3>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://lh3.googleusercontent.com/jc059FOwOWgkD77_GEkE7rp7Embo-CdMdevVLoZRVr0PcF1h6xuXIcLqRqvVoj2RYOcQSaca5h7D3jeH2pGa8A=w296" height="170" alt="Img" />
        </div>
        <div class="col">
            <img src="https://lh3.googleusercontent.com/v-qOPnehg8ZSJ-kuuMA_ucWRMa4jEsHx7oALUHPYFZqxvasdGGoR2ARo3G7Ph0XL6jEMrVwPj0hTB-X2tHgbvw=w266" height="170" alt="Img" />
        </div>
        <div class="col">
            <img src="https://lh3.googleusercontent.com/pgejlmeU-pui04tM2LitFs78FrjF4wg4re-8i_Cfw7j9dVVEqoMr-lmEffMWjuLJBsQVE04wjPRk0ZLYF3Tzjh0=w296" height="170" alt="Img" />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Why Choose Stone Clinic ?
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                <ol>
                    <li>Hi Tech infrastructure hospitals.</li>

                    <li>Urologists with 13+ yrs. of experience.</li>

                    <li>Most advanced laser and vibrations technology.</li>

                    <li>All Insurances covered.</li>

                    <li>Hassle-free paperwork by Pristyn team.</li>

                    <li>Present at your Nearest Location.</li>

                </ol>
            </p>
        </blockquote>
    </div>
</div>
<br />
<br />
<br />
<div class="card">
    <div class="card-body">
        <h3>What are Kidney Stones?</h3>
        <br />
        <br />
        Kidney stones are hard deposits of salt and minerals in the kidneys.
        These stones usually cause immense pain whenever they move or obstruct the urinary tract.
        Kidney stones differ in size.
        While some stones can be a few mm in size, others can grow to inches.
        Kidney stones are quite prevalent equally and affect both men and women.
        Kidney stones can be divided into four major types- Calcium stones, Uric Acid stones, Struvite stones and Cystine stones
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Causes of Kidney Stones
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                <ul>
                    <li>Lack of water</li>
                    <li>Chronic Diarrhea</li>
                    <li>High Blood Sugar</li>
                    <li>Family History</li>
                </ul>
            </p>
        </blockquote>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Symptoms
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                <ul>
                    <li>Severe pain below the ribs, in the side and back</li>
                    <li>Pain while urinating</li>
                    <li>Pink, red or brown-colored urine</li>
                    <li>Urinating more than often</li>
                </ul>
            </p>
        </blockquote>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Best Treatment Options:
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                <ul>
                    <li>
                        ESWL (Extracorporeal Shock Wave Lithotripsy)
                        It uses shock waves to break Kidney stones into small pieces that can move through the urinary tract & pass from the body.
                    </li>
                    <li>
                        URS (Ureteroscopy)
                        In this, the ureteroscope is passed through the urethra and into the ureter to remove a stone using the laser.
                    </li>
                    <li>
                        RIRS (Retrograde Intrarenal Surgery)
                        It is a procedure for doing surgery within the kidney using a flexible ureteroscope to remove upper ureter and small kidney stones.
                    </li>
                    <li>
                        PCNL (Percutaneous Nephrolithotomy)
                        It is a minimally invasive procedure in which large kidney stones are removed through a small incision in skin.
                    </li>
                </ul>
            </p>
        </blockquote>
    </div>
</div>
<br />
<br />
<br />
<br />

<div class="card text-center mx-3">
    <div class="card-header">
        Appointment
    </div>
    <div class="card-body">
        <h5 class="card-title">Front Office Staff Can Register Here</h5>
        <p class="card-text">Then click on Register Below</p>
        <a class="btn btn-primary " asp-area="" asp-controller="UserLogin" asp-action="Register">Register</a>
    </div>
</div>


