@model ClinincManagementSystemProject.Models.Appointment


@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
            </div>

            <div class="form-group">
                <label asp-for="SpecializationRequired" class="control-label"></label>
                <input asp-for="SpecializationRequired" class="form-control" list="ddlSpecialization" />
                <datalist id="ddlSpecialization">
                    <option value="General">General</option>
                    <option value="Gynaecologist">Gynaecologist</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Orthopedics">Orthopedics</option>
                    <option value="Ophthalmology">Ophthalmology</option>
                </datalist>
                    <span asp-validation-for="SpecializationRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <select asp-for="DoctorID" class="form-control" asp-items="ViewBag.DoctorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorAvailability" class="control-label"></label>
                <input checked="checked" id="DocAvl" name="DoctorAvailability" type="radio" value="Yes" />Yes

                <input id="DocAvl" name="DoctorAvailability" type="radio" value="No" />No
                <span asp-validation-for="DoctorAvailability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
